<div data-reddit="{{title}}" class="col-md-4 text-center redditlist">
	<h2>{{title}} [<a class="remove-reddit" data-reddit="{{title}}" href="#">x</a>]</h2>
	<div class="listing row">
		<div class="col-md-12">
			<table class="table table-striped {{title}}-reddit-table">
				<tr>
					<th>title</th>
					<th>comments</th>
					<th>score</th>
				</tr>
				{{#each posts}}
				<tr>
					<td><a target="_blank" class="url" href="{{url}}">{{title}}</a></td>
					<td><a target="_blank" href="http://www.reddit.com{{permalink}}">comments</a></td>
					<td>{{score}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><button class="btn btn-primary form-control">&laquo;</button></div>
		<div class="col-md-6"><button class="btn btn-primary form-control">&raquo;</button></div>
	</div>
	<div class="row">
		<div class="col-md-12"><button data-reddit="{{title}}" class="btn btn-success form-control open-all">Open all</button></div>
	</div>
</div>